<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <input placeholder="Problème" formControlName="issue">
  <br>

  <textarea rows="6" formControlName="description"></textarea>
  <br>

  <input type="text" formControlName="tags">
  <br>

  <select formControlName="type" >
    <option value="bug">bug</option>
    <option value="question">question</option>
    <option value="amélioration">amélioration</option>
  </select>
  <br>

  <select formControlName="severity">
    <option value="souhait">souhait</option>
    <option value="mineur">mineur</option>
    <option value="normal">normal</option>
    <option value="important">important</option>
    <option value="critique">critique</option>
  </select>
  <br>

  <select formControlName="priority">
    <option value="légère">légère</option>
    <option value="normale">normale</option>
    <option value="haute">haute</option>
  </select>
  <br>

  <select formControlName="status">
    <option value="nouveau">nouveau</option>
    <option value="en cours">en cours</option>
    <option value="prêt au test">prêt au test</option>
    <option value="fermé">fermé</option>
    <option value="détails nécessaires">détails nécessaires</option>
    <option value="Rejeté">Rejeté</option>
    <option value="reporté">reporté</option>
  </select>
  <br>

  <button type="submit" [disabled]="!editForm.valid">
    Enregistrer
  </button>
</form>
