h2 {
  display: inline;
}

.tags-wrapper {
  display: flex;
  align-items: center;
}

.ticket-infos {
  display: flex;
  justify-content: left;
}

.ticket-infos p {
  margin: 0.5rem;
  margin-left: 0;
}
