<form (submit)="onAddTicket(postForm)" #postForm="ngForm">

  Problème :
  <input
    type="text"
    name="issue"
    required
    ngModel>
  <br>

  Description :
  <textarea
    rows="6"
    name="description"
    required
    ngModel></textarea>
  <br>

  Tags :
  <input
    type="text"
    name="tags"
    ngModel>
  <br>

  Type :
  <select name="type" required ngModel>
    <option value="bug">bug</option>
    <option value="question">question</option>
    <option value="enhancement">amélioration</option>
  </select>
  <br>

  Sévérité :
  <select name="severity" required ngModel>
    <option value="wishlist">souhait</option>
    <option value="minor">mineur</option>
    <option value="normal">normal</option>
    <option value="important">important</option>
    <option value="critical">critique</option>
  </select>
  <br>

  Priorité :
  <select name="priority" required ngModel>
    <option value="low">légère</option>
    <option value="normal">normale</option>
    <option value="high">haute</option>
  </select>
  <br>

  <button type="submit">Submit</button>

</form>
