<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  Nom d'utilisateur :
  <input type="text" formControlName="username">
  <br>

  Mot de passe :
  <input type="password" formControlName="password">
  <br>

  Confirmer le mot de passe :
  <input type="password" formControlName="passwordConfirm">
  <br>

  Modérateur :
  <input type="checkbox" formControlName="isModerator">
  <br>

  <button type="submit" [disabled]="!registerForm.valid || doPasswordsMismatch()">
    Inscription
  </button>
  <p *ngIf="registerFailedMsg">{{ registerFailedMsg }}</p>
</form>
